node_modules
.next
.github
.git
.env

.env.docker
.env.sample
.dockerignore
.prettierignore
.prettier
.eslintignore
.eslintrc.json

.vscode
README.md
package.json
package-lock.json

public
docs/**
logs/**
temp/**