/.vscode
/node_modules
./dist
/.github
docs/**
logs/**
temp/**

.env.docker
.env.sample
.dockerignore
.prettierignore
.prettier
.eslintignore
.eslintrc.json

README.md
package.json
package-lock.json

*.env
.env
.env.*