<!doctype html>
<html>

<head>
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="private/stylesheets/mailer.css">
</head>

<body style="background-color:#f9f9f9;">
  <div style="background-color:#f9f9f9;">
    <div style="background:#f9f9f9;background-color:#f9f9f9;Margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="background:#f9f9f9;background-color:#f9f9f9;width:100%;">
        <tbody>
          <tr>
            <td class="header-divider"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <%- body %>

      <div style="Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
          <tbody>
            <tr>
              <td class="footer-wrapper">
                <div class="mj-column-per-100 outlook-group-fix">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td class="footer-text">
                          <div>
                            <p>
                              <%= '' %>
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</body>

</html>